.nav {
    width: 100%;
    display: flex;
    background-color: var(--global-background-color-dark);
}

.nav__hide {
    display:none;
}

.navTitle,
.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--global-text-color-light);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.navTitle {
    flex: 6;
    border: solid blue 2px;
}

.navItems {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid yellow 2px;
}

.navItem {
    flex: 1;
    list-style: none;
    text-decoration: none;
    border: solid red 2px;
}