.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "left-items" "title" "right-items";
    grid-gap: 1%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 3%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    /* Smooth transition effect */
    border: solid blue 1px;
    align-items: center;
}

.scrolled {
    background-color: rgba(#f9fafb, 0.5);
    backdrop-filter: blur(10px);
    /* Adjust the blur radius as needed */

    >.navTitle,
    .navItem {
        color: var(--global-text-color-dark);
        font-weight: 500;
    }
}

.navTitle,
.navItem {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    color: var(--global-text-color-light);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.navTitle {
    justify-content: center;
}

@media (max-width: 872px) {
    .navTitle {
        flex: 4;
    }
}

@media (max-width: 630px) {
    .navTitle {
        flex: 3;
        line-height: 1.5;
        text-align: center;
    }
}

.navItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    .nav {
        grid-template-areas:
            "title" "hamburger";
        grid-template-columns: 3fr 1fr;
        justify-items: center;
    }



    .navItems {
        display: none;
    }

    .navTitle {
        justify-content: start;
        padding-left: 2rem;
    }
}

.navItem {
    list-style: none;
    text-decoration: none;
}