.nav {
  width: 100vw;
  display: grid;
  grid-template-areas: "navItems-left navTitle navItems-right";
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.opened .nav {
  grid-template-columns: 1fr !important ;
}

.scrolled {
  background-color: rgba(#f9fafb, 0.5);
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */

  > .navTitle,
  .navItem {
    color: var(--global-text-color-dark);
    font-weight: 500;
  }
}

.navTitle,
.navItem,
.hamburgerMenu {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  color: var(--global-text-color-light);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

// .navTitle {
//     flex: 6;
// }

// @media (max-width: 872px) {
//     .navTitle {
//         flex: 4;
//     }
// }

// @media (max-width: 630px) {
//     .navTitle {
//         flex: 3;
//         line-height: 1.5;
//         text-align: center;
//     }
// }

.navItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

// @media (max-width: 550px) {
//     .navItems {
//         display: none;
//     }

//     .navTitle {
//         justify-content: start;
//         padding-left: 2rem;
//     }
// }

@media (max-width: 700px) {

  .nav {
    grid-template-areas: "navTitle gap hamburger";
    grid-template-columns: 
      1fr auto .2fr;
    // justify-content: end;
    
    .navTitle {
        grid-area: navTitle;
    }

    .navItems {
      display: none;
    }

  }
}
