.hamburgerMenu {
  display: none;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 15%;
  align-items: center;

  .hamburgerButton {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 1rem;
    color: var(--global-text-color-light);
    // background-color: var(--global-text-color-light);
    border-color: var(--global-border-light);
    // min-height: 3rem;
    // font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    align-items: center;
    justify-items: center;
    width: max-content;
  }

  .closed {
    > .close {
      display: none;
    }
    > .open {
        display: block;
      }
  }
  .opened {
    > .open {
      display: none;
    }
    .close {
        display: block;
    }
  }

  .scrolled {
    color: var(--global-text-color-dark);
  }

  .menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menuItem {
    padding: 10px;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  // TODO use variables for media query values. BDJ
  .hamburgerMenu {
    display: grid;
    grid-area: hamburger;

    // .hamburgerButton:checked ~ .menu {
    //     display: block;
    // }

    // .hamburgerButton:checked ~ .hamburgerIcon {
    //     display: none;
    // }
  }
}
