.hamburgerMenu {
    display: none;
    // grid-area: hamburger;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.hamburgerIcon {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-content: space-between;
    align-items: center;
    min-width: 30px;
    height: fit-content;
    cursor: pointer;

    >* {
        transition: .25s ease-in-out;
    }

    :nth-child(2) {
        visibility: visible;
        transition: visibility .2s linear .2s;
    }
}

.active {

    .hamburgerIcon {
        height: fit-content;
        width: fit-content;

        :first-child {
            transform: translate(0, 8px) rotate(45deg);

        }

        :nth-child(2) {
            visibility: hidden;
            transition: visibility 0s ease-out;
        }

        :last-child {
            transform: translate(0, -8px) rotate(-45deg);
        }
    }
}

.scrolled {
    .hamburgerLine {
        background-color: var(--global-text-color-dark);
    }
}

.hamburgerLine {
    width: 100%;
    height: 3px;
    background-color: var(--global-text-color-light);
}

// TODO: should menu and menuItem be here? Could be scope creep.
.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    padding: 10px;
    cursor: pointer;
}

.hamburgerCheckbox:checked~.menu {
    display: block;
}

// TODO: make media query values variables. 
@media (max-width: 790px) {
    .hamburgerMenu {
        display: grid;
        height: fit-content;
        align-items: center;
    }
}