.buttonPrimary,
.buttonSecondary,
.buttonPrimaryDark {
  height: 100%;
  font-size: 1rem;  
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3% 5%;
  display: flex;
  align-items: center;
}

.buttonPrimary {
  background-color: var(--global-primary-color);
  color: var(--global-text-color-dark);

  &:hover {
    background-color: var(--global-secondary-color);
  }
} 

.buttonSecondary {
  color: var(--global-secondary-color);
  border: var(--global-secondary-color) solid 2px;

  &:hover {
    color: var(--global-primary-color);
    border: var(--global-primary-color) solid 2px;
  }
}

.buttonPrimaryDark {
  background-color: var(--global-background-color-dark);
  color: var(--global-text-color-light);

  &:hover {
    background-color: var(--global-background-color-darker);
  }
}