.buttonPrimary,
.buttonSecondary,
.buttonPrimaryDark {
  height: 100%;
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3% 10%;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: fit-content auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 75px;

  span {
    grid-column: 1 / 1;
  }

  svg {
    grid-column: 2 / 2;
  }
}

.buttonPrimary {
  background-color: var(--global-primary-color);
  color: var(--global-text-color-dark);

  &:hover {
    background-color: var(--global-secondary-color);
  }
}

.buttonSecondary {
  color: var(--global-secondary-color);
  border: var(--global-secondary-color) solid 2px;

  &:hover {
    color: var(--global-primary-color);
    border: var(--global-primary-color) solid 2px;
  }
}

.buttonPrimaryDark {
  background-color: var(--global-background-color-dark);
  color: var(--global-text-color-light);

  &:hover {
    background-color: var(--global-background-color-darker);
  }
}

@media (max-width: 690px) {

  .buttonPrimary,
  .buttonSecondary,
  .buttonPrimaryDark {
    // padding: 0 10%;        commented out for now. might not be necessary to change.
  }
}

@media (max-width: 250px) {

  .buttonPrimary,
  .buttonSecondary,
  .buttonPrimaryDark {
    span {
      display: none;
    }

    svg {
      grid-column: 1 / -1;
    }
  }
}