@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  font-family: var(--global-secondary-font-family)
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  width: 100vw;
  height: 100vh;
  display: flex;

  // global vars here
  --global-primary-color: #bbd5d8;
  --global-secondary-color: #ebf2f2;
  --global-tertiary-color: #cfdada;
  --global-quaternary-color: #9cadb3;

  --global-primary-font-family: Italiana,serif;
  --global-primary-font-family-short: Italiana;
  --global-secondary-font-family: Roboto,sans-serif;
  --global-secondary-font-family-short: Roboto;

  --global-text-color-light: #ebf2f2;
  --global-text-color-dark: rgba(0,0,0,1);

  --global-background-color-secondary: #ebf2f2;
  --global-background-color-secondary-whiter: #f9fafb;
  --global-background-color-tertiary: #cfdada;
  --global-background-color-dark: #1f1e1e;
  --global-background-color-darker: #121010;

  --global-border-light: #bbd5d8;
  --global-border-dark: #9cadb3;
}