.main {
  display: grid;
  grid-template-areas:
    "header-nav"
    "hero"
    "bio"
    "contact"
    "extra1"
    "extra2"
    "extra3"
    "footer";
  grid-template-rows: repeat(8, min-content);
  width: 100%;
  height: 10000px; //TODO made it huge to temp fix scrolling issue. Ideally change this to something more responsive.
}

.header {
  grid-area: header-nav;
  position: fixed;
  min-height: 8%;
  width: 100%;
  display: grid;
  z-index: 99;
}

.hero {
  grid-area: hero;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  justify-items: center;
  align-items: center;

  .heroImage {
    filter: brightness(40%);
  }

  .heroBody {
    z-index: 1;
    font-size: 3rem;
    text-align: center;
    color: var(--global-text-color-light);
    position: relative;
    display: grid;
    grid-gap: 15%;
    justify-items: center;
    align-items: center;
    padding: 10% 5%;

    > * {
      justify-items: center;
      align-items: center;
      display: grid;
    }

    h1 {
      font-size: 5rem;
      font-weight: 300;
    }
  }

  @media (max-width: 425px) {
    .heroBody h1 {
      display: none;
    }
  }
}

.bio {
  grid-area: bio;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center; // adding "justify-items: center;" drives bioImgContainer width to zero. unsure why.
  align-items: center;
  height: fit-content;
  background-color: var(--global-secondary-color);

  .bioImgContainer {
    position: relative;
    height: 100%;
    min-height: 574.56px; //approx min height of biotext. Temp fix.
  }

  .bioText {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10% 5%;

    h1 {
      font-size: 3rem;
      margin-bottom: 5%;
      font-weight: 300;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 1px;
      line-height: 1.5;
      margin-bottom: 5%;
    }

    @media (max-width: 425px) {
        p {
          display: none;
        }

        h1 {
          font-size: 2rem;
        }
    }
  }
}

.contact {
  grid-area: contact;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  justify-items: center;
  align-items: center;

  .contactBgImg {
    filter: brightness(80%);
  }

  .contactBody {
    z-index: 1;
    font-size: 3rem;
    text-align: center;
    color: var(--global-text-color-light);
    position: relative;
    display: grid;
    grid-gap: 15%;
    justify-items: center;
    align-items: center;
    padding: 10% 5%;

    // > * {
    //   justify-items: center;
    //   align-items: center;
    //   display: grid;
    // }

    @media (max-width: 425px) {
      h1,
      p {
        display: none;
      }
    }

    h1 {
      // TODO move h1 standard to globals
      font-size: 5rem;
      font-weight: 300;
      // color: var(--global-secondary-color)
    }
  }
}

@media (max-width: 425px) {
  .heroBody,
  .contactBody {
    display: none;
  }
}
