.services {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-light);
  padding: 5% 0;

  .servicesHeader {
    border: solid 1px red;
  }

  .serviceCardGroup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 5% 0;
    margin-bottom: -5%; // offset the margin-bottom on the service cards
  }
}