.menuContainer {
    flex-basis: 100%;
    padding: 75% 10%;
}

.menu {
    display: flex;
    position: relative;
    border: solid yellow 1px;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.menuItem {
    border: solid red 1px;
    color: white;
    font-size: 3rem;
}